<div class="gamemodes">
    <div class="title">{{title}}</div>
    <div class="buttons">
        <button
            [class]="gamemode == selectedGamemode? 'ui selected notebook button' : 'ui notebook button'"
            *ngFor="let gamemode of gamemodes"
            (click)="selectGamemode(gamemode)"
        >
            <i class="icon" [class]="gamemode.icon" *ngIf="gamemode.icon && gamemode !== selectedGamemode"></i>
            <i class="play icon" *ngIf="gamemode === selectedGamemode"></i>
            {{gamemode.name}}
        </button>
    </div>
    <br/>
    <div class="description" *ngIf="selectedGamemode">
        {{selectedGamemode.description}}
    </div>
</div>