.container
    font-family: Notebook
    display: grid
    grid-template-columns: 1fr 1fr
    padding: 1em
    grid-gap: 4em
    padding-left: 4em

    .title
        font-size: 4em
    
    .description
        font-size: 1.5em

    .buttons
        display: grid
        grid-gap: 1em
        justify-content: center
        margin-top: 4em

    .leaderboard
        display: block
        height: 100%
        .item
            padding-left: 1em
            font-size: 2em

            display: grid
            grid-template-columns: 20px 50% auto

            .rank
                color: red

            .name
                font-weight: bolder

            .score
                text-align: right

    .settings
        .setting
            display: grid
            grid-template-columns: 2em 1fr 1fr
            grid-gap: 1em
            align-items: center

            .icon
                font-size: 1.25em

            .label
                font-size: 2em

            .input
                input:focus
                    outline: none